[Unit]
Description=Read AI Background Worker Runner
After=network.target

[Service]
User=%u
WorkingDirectory=%h/github/wrp_read_ai
ExecStart=%h/github/wrp_read_ai/myenv/bin/python %h/github/wrp_read_ai/main.py
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
